/* =============
    Typography
============= */
body{
    font-family: 'Noto Serif', serif;
}

h1{
    font-family: 'Nunito', sans-serif;
}

h1,h2,h3,h4,h5,p{
    padding: 0;
    margin: 0;
}

p{
    line-height: rem-calc(25);

    @include lg{
        line-height: rem-calc(30);
    }
}
