/* =============
    Circle
============= */

#circle{
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-areas: ". circle .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div{
        grid-area: circle;
        @include lg{
            display: grid;
            grid-template-columns: 35% auto;
        }

        aside{

            div{
                height: 300px;
                width: 300px;
                border-radius: 100%;
                margin: 0 auto 40px;
                background-image: url('../img/circle/circle.jpg');
                background-size: cover;
                background-position: center bottom;

                @include md{
                    height: 320px;
                    width: 320px;
                }

                @include lg{
                    margin: 0 auto 0px;
                }
            }

        }

        article{

            @include md{
                display: grid;
                grid-template-columns: auto 80% auto;
                grid-template-areas: ". circle-info .";
                margin-top: 0px;
            }

            div{
                @include md{
                    grid-area: circle-info;
                    display: flex;
                    align-items: center;
                }
            }
            p{
                font-size: rem-calc(18);
                text-align: justify;
            }
        }
    }
}
