/* =============
    Footer
============= */
footer {
    background-color: $rust;
    padding: 15px;
    position: relative;
    @include md {
        text-align: center;
    }

    h4 {
        bottom: 10px;
        color: $white;
        font-size: rem-calc(14);
        font-weight: 300;
        position: absolute;
        right: 20px;
    }
}
