/* =============
    Navigation
============= */
nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 17;

    ul {
        li {
            text-align: center;
            margin-bottom: 30px;

            a:link,
            a:visited {
                text-decoration: none;
                color: $white;
                font-size: rem-calc(40);
            }

            a:active,
            a:hover {}
        }
    }
}
